<div class="container">
    <h1 class="mt-4">Admin Control Panel</h1>
    <a button type="button" class="btn btn-primary adminBtn" href="/admin/products">Product Management</a>
    <a button type="button" class="btn btn-info adminBtn" href="/admin/users">Users Management</a>
    <a button type="button" class="btn btn-success adminBtn" href="/admin/orders">Orders Management</a>
    <a button type="button" class="btn btn-secondary adminBtn" href="/user/logout">Logout</a>
    <div class="container">
        <div class=row>
            <%- include ("../partials/messages") %>
        </div>
    </div>
</div>