<div class="wrapper homeHead">
    <div class="jumbotron jumbotron-fluid">
        <div class="container home">
            <%- include ("partials/messages") %>
                <h1 class="display-3">Organic Food</h1>
                <p class="lead">We deliver organic fruits & vegetables fresh from our fields to your doorstep.</p>
                <hr class="my-4">
                <p>Converting vegetarians since 1996.</p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="/shop" role="button">Shop Now</a>
                </p>
        </div>
    </div>